<div class="centering">
  <h2>My Recommended Movies</h2>
  <mat-form-field>
    <mat-label>User ID</mat-label>
    <input matInput [(ngModel)]="userId" placeholder="">
  </mat-form-field>
  <button mat-raised-button class="findMovies" (click)="getRecommended()">Find Movies</button>
  <div *ngIf="movies.length > 0">
    <div *ngFor="let movie of pageOfMovies">
      {{movie}}
    </div>
    <div class = "buttons">
      <button mat-button (click)="decreasePageNum(); onChangePage()">Previous Page</button>
      <button mat-button (click)="increasePageNum(); onChangePage()">Next Page</button>
    </div>
  </div>
</div>

